source /boot/grub/config.cfg

menuentry "AlphaOS Live" --hotkey=l {
    linux /live/vmlinuz-6.19.0-alpha-alpha-6.19-schedext boot=live components rd.live.image rd.live.dir=/live rd.live.squashimg=filesystem.squashfs root=LABEL=ALPHAOS live-config.hostname=alpha live-config.username=alpha live-config.user-fullname=Alpha
    initrd /live/initrd.img-6.19.0-alpha-alpha-6.19-schedext
}

menuentry "AlphaOS Live (safe mode)" {
    linux /live/vmlinuz-6.19.0-alpha-alpha-6.19-schedext boot=live components rd.live.image rd.live.dir=/live rd.live.squashimg=filesystem.squashfs root=LABEL=ALPHAOS nomodeset live-config.hostname=alpha live-config.username=alpha live-config.user-fullname=Alpha
    initrd /live/initrd.img-6.19.0-alpha-alpha-6.19-schedext
}
