[Desktop Entry]
Type=Application
Name=AlphaOS Wallpaper
Comment=Set the AlphaOS default wallpaper
Exec=/usr/local/bin/alphaos-set-wallpaper
Terminal=false
StartupNotify=false
X-KDE-autostart-after=panel
